.header{
	width: 100vw;
	height: 5vh;
	display: flex;
	position: relative;
	border-bottom: 1px solid lime;
	.bckgrnd {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.logo-profile {
		width: 100%;
		width: 100%;
		padding: 0px 60px;
		position: absolute;
		top: 22%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			width: 25%;
		}
		.profile {
			border: 1px solid white;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
		}
	}
} 
