//checkbox-input, custom-checkbox, checkmark
.todo {
  width: 100vw;
  height: 68vh;
  margin-top: 2vh;
	position: relative;
  .checkbox-input {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    .custom-checkbox {
      width: 25px;
      height: 25px;

      .checkmark {
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        display: inline-block;
      }

      input {
        display: none;
      }
    }

    .input {
      width: auto;

      input {
        width: 70vw;
        height: 30px;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
				border: none;
				outline: none;
      }
    }

  }
  .add-todo {
    padding: 20px 0px 0px 22px;
  }
}
