.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 30px 70px;
  background: rgba($color: white, $alpha: 1);
  border-bottom: 1px solid grey;
  margin-bottom: 20px;

  ul {
    display: flex;
    gap: 35px;
  }
  ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    color: #0071ec;
  }
  .logo {
    width: 200px;
  }
}
