.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 30px 70px;
  background: rgba($color: white, $alpha: 1);
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  position: relative;

  ul {
    display: flex;
    gap: 35px;
  }
  .link {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
  }
  ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    color: #0071ec;
  }
  .logo {
    width: 200px;
  }
}
.auth-cont {
  display: none;
  position: absolute;
  right: 80px;
  bottom: 20px;

  .linko {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: inherit;
  }
}

.account:hover .auth-cont {
  display: block;
  color: red;
}
