@use '../../../styles/Vars' as *;

.container {
	border: 1px solid $gold;
}
.card-container {
	width: 100vw;
	height: 180px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 120px;
		gap: 5px;
		border-radius: 5px;
		color: $pale-green;
		img{
			background-color: $pale-green;
			width: 100px;
			height: 100px;
			border-radius: 5px;
		}
		p {
			font-size: 10px;
			font-weight: weight(bold);
		}
	}
}
